{% extends 'base.html.twig' %}

{% block title %}Create user{% endblock %}

{% block body %}
    <h1>Voici ma page de création</h1>

    {% include 'user/_form.html.twig' %}
    {#    ancienne methode #}
    {#        {{ form(form) }} #}

{% endblock %}

